# API Configuration
# URL base de la API REST de actividades
PUBLIC_API_BASE_URL=https://api.example.com

# Google Maps API Key
# Obtén tu API key en: https://console.cloud.google.com/
PUBLIC_GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here

LOG_API_BACKEND_RESPONSE=false

# Google Tag Manager
PUBLIC_GTM_ID=GTM-XXXXXXX

# Hubspot
PUBLIC_HUBSPOT_ID=147832932
# El de pro sera 145736447