# API Configuration
# URL base de la API REST de actividades
PUBLIC_JSONSERVER_API_BASE_URL=https://api.example.com

# URL base de la API REST de reservas / carrito / orders
PUBLIC_CORE_API_BASE_URL=http://localhost:3000

# Google Maps API Key
# Obtén tu API key en: https://console.cloud.google.com/
PUBLIC_GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here

LOG_API_BACKEND_RESPONSE=false

# Google Tag Manager
PUBLIC_GTM_ID=GTM-XXXXXXX

# Hubspot
PUBLIC_HUBSPOT_ID=147832932
# El de pro sera 145736447

# Stripe
STRIPE_SECRET_KEY=sk_test__
PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test__