@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@plugin 'daisyui';

@utility checkbox {
	@apply rounded-sm;
}

input[type='checkbox'].toggle {
	/* Sino hereda el tick del checkbox de Bits UI (creo)*/
	background-image: none !important;
}

select {
	/* appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none; */
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M6 9l6 6 6-6'/%3E%3C/svg%3E") !important;
	background-repeat: no-repeat !important;
	background-position: right 0.75rem center !important;
	background-size: 1rem !important;
	padding-right: 2.5rem !important;
}
